<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{auth/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/books/add-book}">Add book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Cover</th>
            <th>Publisher</th>
            <th>Pages</th>
            <th>Year of publication</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.cover}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.pages}"></td>
            <td th:text="${book.yearOfPublication}"></td>
            <td class="flex">
                <form th:action="@{/books/{bookId}(bookId=${book.id})}" th:method="delete">
                    <button type="submit" class="btn btn-danger"   onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">Delete</button>
                </form>

            </td>
            <td>
                <form th:action="@{/cart}" th:method="POST">
                    <button type="submit" class="btn btn-danger"   onclick="if (!(confirm('Would you like to add to cart?'))) return false">Add to Cart</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>